.gallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 5px;
  list-style-type: none !important;
  margin-left: 0;
  margin: 0 auto !important;
  width: 100%;
}
.benefit {
  width: 170px;
}
.benefit a {
  color: inherit !important;
}
.benefit a:hover {
  text-decoration: underline;
}
.galleryLabel {
  position: relative;
  margin-top: -40px;
  margin-right: 5px;
  float: right;
  text-align: center;
  background: #f18903 !important;
  padding: .33333rem .5rem;
  border-radius: 0;
  font-size: .8rem;
  line-height: 1;
  white-space: nowrap;
  cursor: default;
  color: #ffffff;
}
.tituloOferta {
  color: #ff0000;
}
@media screen and (min-width: 320px) {
  .benefit {
    margin: 5px;
  }
}
@media screen and (max-width: 375px) {
  .benefit {
    width: 125px;
  }
}
@media screen and (min-width: 768px) {
  .benefit {
    width: 200px;
    margin: 7.5px;
  }
}
@media screen and (min-width: 1024px) {
  .benefit {
    width: 220px;
    margin: 0 10px;
  }
}
@media screen and (min-width: 1160px) {
  .benefit {
    width: 245px;
  }
}
.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1.3s;
  animation-timing-function: cubic-bezier(0, 0, 0.4, 1);
  animation-fill-mode: forwards;
}
